body {
    text-align: center;
    margin-top: 300px;
    position: relative;
}
.buttonset-alarm {
    margin-top: 100px;
    border-radius: 30px;
    width: 100px;
    height: 50px;
}
.buttonclear-alarm {
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 30px;
    font-weight: 13px;
    width: 100px;
    height: 50px;
}
.buttonclear-alarm:active {
    background-color: yellow;
}
.buttonset-alarm:active {
    background-color: yellow;
}
#clock {
    font-size: 100px;
    position: relative;
    margin-bottom: 200px;
    font-family: 'IBM Plex Sans', sans-serif;
}